<tr>
  <td class="issue">
    <span class="content"><%= issue.title %></span>
    <span class="content"><%= issue.status %></span>
    <span class="content"><%= issue.priority %></span>
    <span class="content"><%= issue.content %></span>
  </td>
</tr>
