<h1>About Bug Tracker</h1>
<p>
This is "Bug Tracker v0.0.1".
Bug Tracker is an issue tracking system for software development projects.
The project is designed for the <a href="http://fmi.ruby.bg/">Programming with Ruby</a>
course in the Sofia University, Faculty of Mathematics and Informatics.
</p>
