<h1>Create new project</h1>

<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
